
@{
    ViewBag.Title = "CustomizePasswordGenerate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="container">
    <div class="col-sm-12">
        <h2>Customize Password Generator </h2><br />


        <div class="form-group ">
            <label for="type" class="col-sm-2 control-label">Length</label>
            @Html.TextBox("Length", null, new { @class = "form-control", @type = "number" })
        </div>
        <div class="form-group ">
            <label for="type" class="col-sm-2 control-label">Include Symbols</label>
            <div class="checkbox"><label><input type="checkbox" id="include_symbol"></label> </div>
        </div>

        <div class="form-group ">
            <label for="type" class="col-sm-2 control-label">Include Numbers</label>
            <div class="checkbox"><label><input type="checkbox" id="include_number"></label> </div>
        </div>

        <div class="form-group ">
            <label for="type" class="col-sm-2 control-label">Include Uppercase</label>
            <div class="checkbox"><label><input type="checkbox" id="include_uppercase"></label> </div>
        </div>

        <div class="form-group ">
            <label for="type" class="col-sm-2 control-label">Include Lowercase</label>
            <div class="checkbox"><label><input type="checkbox" id="include_lowercase"></label> </div>
        </div>

        <div class="form-group">
            <input type="button" value="Generate" id="btn_generate" class="btn btn-primary btn-sm" />
        </div>

        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">Generated Password</label>
            @Html.TextBox("generated_password", null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="button" value="Save" id="btn_save" class="btn btn-info btn-sm" />
        </div>


    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>

        $(document).ready(function () {


            $("#btn_generate").on('click', function () {
                debugger;
                var length = $("#Length").val();
                var is_checked_include_symbol = $("#include_symbol").prop('checked');
                var is_checked_include_number = $("#include_number").prop('checked');
                var is_checked_include_uppercase = $("#include_uppercase").prop('checked');
                var is_checked_include_lowercase = $("#include_lowercase").prop('checked');

                if (length == "" || length == null || length < 8) {
                    alert("Length is required and minimum length is 8");
                    return false;
                }

                if (is_checked_include_symbol == false && is_checked_include_number == false && is_checked_include_uppercase == false && is_checked_include_lowercase == false)
                {
                    alert("Please select at least one checkbox");
                    return false;
                }

                var data = JSON.stringify({ length: length, is_checked_include_symbol: is_checked_include_symbol, is_checked_include_number:is_checked_include_number, is_checked_include_uppercase:is_checked_include_uppercase, is_checked_include_lowercase:is_checked_include_lowercase });
                debugger;
                $.ajax({
                    type: "POST",
                    url: "/PasswordGen/CustomizePasswordGenerate",
                    contentType: "application/json; charset=utf-8",
                    datatType: "json",
                    data: data,
                    success: function (data) {
                     
                        $("#generated_password").val(data.generated_password);
                    },
                    error: function (ex) {
                        console.log(ex.error);
                    },
                    async: false
                });
            });



            $("#btn_save").on('click', function () {
                debugger;
                var generated_password = $("#generated_password").val();

                if (generated_password == "" || generated_password == null) {
                    alert("You have to generate the password first");
                }
                else {
                      var data = JSON.stringify({ generated_password: generated_password });
                debugger;
                $.ajax({
                    type: "POST",
                    url: "/PasswordStorage/GivenPassword",
                    contentType: "application/json; charset=utf-8",
                    datatType: "json",
                    data: data,
                    success: function (data) {
                         $("#generated_password").val(data.generated_password);
                          var url= '@Url.Action("Create","PasswordStorage")';
                          window.open(url, "_blank");
                    },
                    error: function (ex) {
                        console.log(ex.error);
                    },
                    async: false
                });
                }

            })

        });


    </script>
}
